.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
*.bak
*.exe
cmd/sneaker-server/resource.syso
build-stack/built-binaries/jambon/*
build-stack/built-binaries/lardoon/*
build-stack/built-binaries/sneaker/*