.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
*.bak
*.exe
# Ignore build contents
build-stack/built-binaries/jambon/*
build-stack/built-binaries/lardoon/*
build-stack/built-binaries/sneaker/*
docker-compose/Sneaklardooon-only/tacview/*
docker-compose/Sneaklardooon-only/config/lardoon/*
# Keep directories with a .gitkeep file
!**/.gitkeep